{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
{{ page_title }}
{% endblock %}

{% block contents %}
<link rel='stylesheet' href='{% static 'fullcalendar/dist/fullcalendar.css' %}'/>
<script src='{% static 'jquery/dist/jquery.js' %}'></script>
<script src='{% static 'moment/moment.js' %}'></script>
<script src='{% static 'fullcalendar/dist/fullcalendar.js' %}'></script>
<script src='{% static 'fullcalendar/dist/locale-all.js' %}'></script>
<script>
    $(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        locale: 'ko',
        // put your options and callbacks here
        events: [
				{
					title: 'Long Event',
					start: '2017-10-07',
					end: '2017-10-10'
				},
                {
					title: 'S200 벤치마크 ',
					start: '2017-10-17',
					end: '2017-10-19'
				}]
    });

});
</script>
<h1>{{ page_title }}</h1>
<a href="{% url 'project:project_add' %}">추가</a>
<hr>
<div>
    <!-- <ul>
        {% for project in projects %}
        <li>
            {{project.id}} // {{ project.name }} // <a href="{% url 'project:project_update' project.id %}">수정</a>// <a href="{% url 'project:project_delete' project.id %}">삭제</a> 
        </li>
        {% endfor %}
    </ul> -->
    <table border='1'>
            <thead >
                <tr>
                    <th>No</th>
                    <th>이름</th>    
                    <th>시작일</th>
                    <th>종료일</th>
                    <th>비고</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{project.id}}</td>
                    <td>{{project.name}}</td>
                    <td>{{project.start_date}}</td>
                    <td>{{project.end_date}}</td>
                    <td>{{project.comment}}</td>
                    <td><a href="{% url 'project:project_update' project.id %}">수정</a></td>
                    <td><a href="{% url 'project:project_delete' project.id %}">삭제</a></td>
                </tr>
                {% endfor %}
            </tbody>
    
        </table>   
</div>
<div id='calendar'></div>
{% endblock %}